.card-container {
    display: flex;
    flex: 1 1 200px;
    padding: 16px 16px 16px 0;
}

.my-card{
    display: flex;
    float: 1 1 200px;
    margin-left: 16px;
}

.my-card-header {
    display: flex;
    flex: 1 1 200px;
}